<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
       <param name="min_ang" value=" -2.2689" />
       <param name="max_ang" value="  2.2689" />
    </node>
    <node pkg="hector_scanmatcher" type="hector_scanmatcher" name="hector_scanmatcher" output="screen">
        <param name="base_frame" value="base_stabilized" />
        <param name="odom_frame" value="nav"/>
        <param name="map_resolution" value="0.025"/>
        <param name="output_timing" value="true"/>
        <param name="use_tf" value="true"/>
        <param name="scan_topic" value="scan"/>
<!--        <param name="pub_drawings" value="true"/>
        <param name="pub_debug_output" value="true"/>-->
        <param name="pub_map_odom_transform" value="false"/>
    </node>
</launch>
