<launch>
    <node pkg="hector_scanmatcher" type="hector_scanmatcher" name="hector_scanmatcher" output="screen"> 
        <param name="scan_topic" value="/laser1/scan" />
        <param name="base_frame" value="base_stabilized" />
        <param name="odom_frame" value="odom"/>
        <param name="pub_map_odom_transform" value="true"/>
        <param name="output_timing" value="false"/>
        <param name="use_tf_scan_transformation" value="true"/>
        <param name="map_resolution" value="0.05"/>
        <param name="map_size" value="768"/>
    </node>
</launch>
