<launch>
<!--    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen"/>
       <param name="min_ang" value=" -2.2689" />
       <param name="max_ang" value="  2.2689" />-->
    <node pkg="hector_scanmatcher" type="hector_scanmatcher" name="hector_scanmatcher" output="screen">
        <param name="base_frame" value="base_stabilized" />
        <param name="odom_frame" value="nav"/>
        <param name="map_resolution" value="0.05"/>
<!--        <param name="outputTiming" value="true"/>-->
        <param name="use_tf_scan_transformation" value="true"/>
        <param name="scanTopic" value="scan"/>
        <param name ="transform_publish_period" value= "5.0"/>
        <param name ="map_publish_period" value = "50.0"/>
<!--        <param name="pubDrawings" value="true"/>
        <param name="pubDebugOutput" value="true"/>-->
        <param name="pubMapOdomTransform" value="false"/>
    </node>
</launch>
